registry=https://verdaccio.teamteaguehomelab.uk
//verdaccio.teamteaguehomelab.uk/:_authToken="MTQzMjgxYWM1MjA0NWZhZTE1NGM5MTA4OWU1NTgxMDE6MDBmMGU4MjZkZmU5NTAxNjcxODdhMGNlMTEzN2RmZDU1OTcyMmRhODgwMTg4ODI5OTMwZA=="
